/* CSS for website */

.book .book-summary li b {
  display: none;
}

.book .book-summary ul.summary li:last-child:not(.chapter) {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.book .book-summary li[data-path^="index"],
.book .book-summary li[data-path^="bridge/"],
.book .book-summary li[data-path^="plugins/"],
.book .book-summary li[data-path^="vtex.js/"] {
	display: none !important;
}
